.login-container {
  max-width: 700px !important;
  width: 700px !important;
}

.login-img {
  padding: 5%;
}

.left-side-login {
  background-color: aliceblue;
}

.right-side-register {
  background-color: beige;
}

.member-text {
  background-image: linear-gradient(to right, #5B247A, #6078EA, #17EAD9);
  padding: 1%;
  border-radius: 40px;
  margin: 0 5%;
}

.input {
  border-color: transparent !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  border-bottom: solid 1px #dbdbdb !important;
}

.input-column {
  margin: 0 5%;
}