html {
  scroll-behavior: smooth;
}

.hero-head.navbar {
  transition: .2s background-color;
}

.user-menu {
  padding: 0 20px !important;
}

.fab {
  background-color: #209cee;
  border-radius: 50%;
  bottom: 20px;
  cursor: pointer;
  opacity: 0;
  padding: 15px;
  position: fixed;
  right: 20px;
  transition: .2s background-color, .2s opacity;
  z-index: 1;
}

.fab:hover {
  background-color: #3273dc;
}

.hero-footer {
  padding: 10px;
}

.column {
  align-self: center;
}

.buttons {
  justify-content: center;
}

.req-btn {
  display: inline-flex !important;
  width: 70% !important;
}

.anc-div {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.search-bar {
  position: fixed;
  width: 82%;
  z-index: 29;
  left: 9%;
  margin-top: 2%;
}

.first-anc {
  margin-top: 10% !important;
}