html {
  scroll-behavior: smooth;
  background-image: url('../img/bg-booklist.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-head.navbar {
  transition: .2s background-color;
}

.user-menu {
  padding: 0 20px !important;
}

.fab {
  background-color: #209cee;
  border-radius: 50%;
  bottom: 20px;
  cursor: pointer;
  opacity: 0;
  padding: 15px;
  position: fixed;
  right: 20px;
  transition: .2s background-color, .2s opacity;
  z-index: 1;
}

.fab:hover {
  background-color: #3273dc;
}

.hero-footer {
  padding: 10px;
}

/*app-navbar*/
.lib-logo {
  margin: .25rem;
  max-height: 2.25rem !important;
}

.nav-button {
  width: 6.5em;
}

.nav-item-button {
  padding: .35rem;
}

.navbar-brand {
  margin: .5em 1em;
}

.navbar-item {
  margin: 0 .5em;
}

.navbar-start .navbar-item {
  color: white;
}

.navbar-item {
    text-transform: uppercase;
  font-weight: bold;
  font-size: 1.05em;
}

.navbar-start .navbar-item span:hover {
  color: white !important;
  transition: .35s;
  transform: scale(1.1);
  border-bottom: solid;
}

.navbar-start a {
  color: white !important;
}