.heading {
  display: flex;
  justify-content: flex-end;
}

.heading .image {
  width: 360px;
  height: auto;
}

.message.is-info .message-header {
  background-color: #6078ea;
  color: #fff;
}

.no-notification {
    margin-top: 4em;
}