.column {
  align-self: center;
}

.buttons {
  justify-content: center;
}

.detail-btn {
  display: inline-flex !important;
  width: 70% !important;
  background-color: #6078ea !important;
  color: white !important;
}

.detail-btn:hover {
  background-color: #1543c1 !important;
}

.anc-div {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.search-bar {
  margin-top: 2%;
}

.first-anc {
  margin-top: 2.5% !important;
}

.hero-body {
  align-items: normal;
}

.tile.is-child {
  word-wrap: anywhere;
  align-self: center;
}

.tile.is-parent {
  padding: .5rem;
  background-color: transparent;
  margin: 5px 0;
}

.transaction-list:hover {
  box-shadow: 0 2px 3px rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.1);
  transition: .25s;
  transform: scale(1.01);
  background-color: rgba(255,255,255,.75);
}

.heading-transaction {
  background-color: rgba(96,120,234,0.5) !important;
}

.heading {
  display: flex;
  justify-content: flex-end;
}

.heading .image {
  width: 360px;
  height: auto;
}

.modal-card-head {
  background-color: #6078ea;
  text-transform: uppercase;
  font-weight: bold;
}