.user-card {
    margin: 10px !important;
}

.user-card {
    background-color: white;
}

.detail-button {
    margin-top: 2rem;
}

.column.left-side-card {
    align-self: center;
}

.columns {
    margin-top: 0 !important;
}

.tag {
    font-size: 12pt;
    font-weight: bold;
    border-radius: 50% !important;
}

.name {
    font-weight: bold;
    font-size: 12pt;
    margin: 5px 0;
}

.box {
    padding: .75rem;
}

.major {
    font-weight: bold;
    font-size: 42pt;
}

.class {
    font-weight: bold;
    font-size: 14pt;
    margin-top: 2.25rem;
}

.identity div {
    display: flex;
    word-wrap: anywhere;
}

.tag {
    margin: 0 5px;
}

.button.is-rounded {
    border-radius: 0 290486px 290486px 0;
}

/*.column {
    padding: .5rem !important;
}*/