.user-card {
    margin: 10px !important;
}

.user-card {
    background-color: white;
}

.detail-button {
    margin-top: .5rem;
}

.column.left-side-card {
    align-self: center;
}

.columns {
    margin-top: 0 !important;
}

.tag {
    font-size: 12pt;
    font-weight: bold;
    border-radius: 50% !important;
}

.name, .class {
    font-weight: bold;
    font-size: 12pt;
    margin: 5px 0;
}

.box {
    padding: .75rem;
}

.major {
    font-weight: bold;
    font-size: 42pt;
}

.identity div {
    display: flex;
    word-wrap: anywhere;
}

.tag {
    margin: 0 5px;
}

.button.is-rounded {
    border-radius: 0 290486px 290486px 0;
}

.detail-button {
  background-color: #6078ea !important;
  color: white !important;
  margin-top: .5em;
}

.detail-button:hover {
  background-color: #1543c1 !important;
}

.heading {
  display: flex;
  justify-content: flex-end;
}

.heading .image {
  width: 360px;
  height: auto;
}